COMPANY = 'company name from lacework url'
LW_AWS = {'aws':['LW-UAKS Token','LW Access Key']} 
LW_GCP = {'gcp':['LW-UAKS Token','LW Access Key']} 
LW_AZURE = {'azure':['LW-UAKS Token','LW Access Key']} 
